alias artisan='php artisan' 
alias p='./vendor/bin/phpunit' 
alias pf='p --filter' 
alias phpunit='./vendor/bin/phpunit'

#DIR
alias ci="code-insiders ."
alias ex="explorer.exe "
alias codedir='$HOME/Code'
alias webdir='$HOME/Code/PHP'
alias ldir='$HOME/Code/Laravel'
alias railsdir='$HOME/Code/Rails'
alias ngdir='$HOME/Code/Angular'
alias npr='npm run'
alias ta='$HOME/Code/TreatAnyone/treatanyone_app'
alias tar='$HOME/Code/TreatAnyone/treatanyone_referrer_app'
alias tac='$HOME/Code/TreatAnyone/treatanyone_clients_api'
alias fm='$HOME/Code/Flexmart/'
alias fma='$HOME/Code/Flexmart/flexmart-api'
alias se='cd $HOME/Code/SimplyEarth/simplyearth'
alias see='se;ci'
alias tac="ta;ci"
#GIT ALIASES

alias gpf='git push origin -f'
alias gpfn='git push origin -f --no-verify'
alias gaa='git add -u'
alias gpo='git push -u origin "$(git symbolic-ref --short HEAD)"'
alias gp='git push'
alias gfmm='git fetch origin master:master'
alias gpm='git pull origin master'
alias grm='git rebase master'
alias grmm='gfmm;grm'
alias grc='git rebase --continue'
alias gri='git rebase -i '
alias gc='git checkout'
alias gcb='git checkout -b'
alias gcm='git commit -m '
alias gca='git commit --amend '
alias gad='git add .'
alias gaa='git add -u'
alias gs='git status'
alias gwip='git add .; g commit -m WIP'
alias ghpr='gh pr create'
alias ghv='gh pr view --web'

#SSH ALIASES
alias sshpay='ssh forge@209.97.166.143'
alias sshstage='ssh forge@test.aunicajpay.com'
alias sshpaydb='forge@209.97.167.173'
alias sshtest='ssh forge@206.189.37.184' 
alias sshwil='ssh forge@178.128.57.225' 
alias sshdrip='ssh cleaver@104.248.147.234'
alias sshe='ssh forge@173.255.227.183'

alias dc='docker-compose'

#OTHERS
alias pubcopy='cat ~/.ssh/id_rsa.pub| pbcopy'
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'


#treatanyone
alias tacover="http-serve -c-1 -o -p 9875 ./coverage/treatanyone-app"
alias tatest="npr test:watch:cover"
alias tadev="npr hmr"


#dev
alias gpg="http-serve -c-1 -o -p 9878 ~/Code/graphql-playground"
alias ngd="npr hmr"
alias ngt="npr test:watch:cover"
