imap jj <esc>
map <shift-l> $
nmap <C-J> <C-W><C-J>
nmap <C-H> <C-W><C-H>
nmap <C-K> <C-W><C-K>
nmap <C-L> <C-W><C-L>
let mapleader=','
set number
set relativenumber;

nnoremap <leader>ss :action SaveDocument<CR>
nnoremap <Leader>qq :action CloseEditor<cr>

map <Leader>ev :vsplit $MYVIMRC<cr>
