imap jj <esc>
map <shift-l> $
nmap <C-J> <C-W><C-J>
nmap <C-H> <C-W><C-H>
nmap <C-K> <C-W><C-K>
nmap <C-L> <C-W><C-L>
let mapleader=','
set number
set relativenumber;
set visualbell
set noerrorbells
nnoremap <leader>ss :action SaveDocument<CR>
nnoremap <Leader>qq :action CloseEditor<cr>
set clipboard+=unnamed

map <Leader>ev :vsplit ~/.ideavimrc<cr>
map <Leader>v :vsplit<cr>
set relativenumber
nnoremap - :action ViewNavigationBar<CR>


