snippet it "Add new test assertion" 

it("should $1", () => {
	$2
});

endsnippet

snippet cs "Add constructor"

constructor() {
	$1
}
endsnippet

snippet be "Add beforeEach function in test spect" 
beforeEach(()=>{
	$1
});
endsnippet
